// font face
@font-face {
  font-family: 'Catalana';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Catalana.woff') format('woff');
}
@font-face {
  font-family: 'Catalana Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CatalanaSans.woff') format('woff');

}


// GLOBAL

body {
  @apply bg-gray-50;
  font-family: 'Catalana Sans', sans-serif;
}

h1,h2,h3 {
  font-family: 'Catalana', serif;
}

// COMPONENTS

// #region Header

.header {
  @apply bg-gray-50 border-b-gray-200 border-b sticky top-0 z-50;
  .nav li:last-child a {
    @apply py-2 px-4 bg-gray-800 text-white rounded-md;
  }
  input {
    @apply text-sm border-gray-300;
  }
}

.hero {
  h1 {
    @apply text-4xl;
  }
}


.form {
  &--subscription{
    input{
      @apply bg-white;
    }
  }
}


.site-footer {
  @apply bg-gray-200;
  &__wrapper {
    @apply grid grid-cols-2 col-span-4 text-left;
    grid-template-columns: 1fr 3fr;
  }
  &__logo {
    @apply mb-4;
  }
  &__info {
    @apply text-sm;
    p {
      @apply mb-4;
    }
    a {
      @apply text-blue-600;
    }
  }
  .related {
    @apply p-0;
  }
  .colophon {
    @apply border-t border-t-gray-300 text-sm;
  }
}


.sharing {
  @apply text-left p-0;
  &__items {
    @apply items-start justify-start;
    a {
      @apply text-gray-500 bg-white;
    }
  }
}
// #endregion')