.media-text {
  &--reverse {
    .media-text {
      &__media {
        @apply order-2;
      }
      &__text {
        @apply order-1;
      }
    }
  }
  &__wrapper {
    @apply grid grid-cols-2 items-center py-16;
  }
  &__media {
    @apply relative;
    img {
      @apply rounded-md shadow-xl max-h-96 m-auto;
    }
    // Play icon
    &:before {
      @apply absolute opacity-80 z-10 bg-[var(--color-background-alt)] w-20 h-20 rounded-full flex items-center justify-center text-4xl top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
      content: '▶';
      transform: translate(-50%, -50%);
    }
  }
  &__text {
    h2 {
      @apply text-4xl font-bold mb-4;
    }
    h3 {
      @apply text-2xl font-bold mb-4;
    }
    p {
      @apply leading-6 mb-4;
    }
    ul {
      li {
        @apply pl-8 mb-2 relative;
        &:before {
          @apply absolute left-0 block text-[var(--color-secondary)];
          content: '→';
        }
      }
    }
  }
}